<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mystic.CreateTestValue.mapper.PersonMapper">
    <!--    useGeneratedKeys keyProperty 配合使用,表示数据库支持主键自增,以及主键字段名-->
    <insert id="insertPerson" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.mystic.CreateTestValue.entity.PersonEntity">
        insert into test_person_value (workdate, name, sex, birth, idType, idNo, addr, phoneNo, idExpiryDate)
        values (#{workdate}, #{name}, #{sex}, #{birth}, #{idType}, #{idNo}, #{addr}, #{phoneNo}, #{idExpiryDate})
    </insert>
    <insert id="batchInsertPerson" parameterType="list">
        insert into test_person_value (workdate, name, sex, birth, idType, idNo, addr, phoneNo, idExpiryDate) values
        <foreach collection="list" item="item" separator=",">
            (#{item.workdate},#{item.name},#{item.sex},#{item.birth},#{item.idType},#{item.idNo},#{item.addr},#{item.phoneNo},#{item.idExpiryDate})
        </foreach>
    </insert>
    <select id="queryPerson" resultType="com.mystic.CreateTestValue.entity.PersonEntity">
        select * from test_person_value order by id desc
    </select>

</mapper>